* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: "Jost", serif;
  font-weight: 400;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  background-color: rgb(29, 29, 29);
  font-weight: 500;
}

#pageHighlight {
  background-color: white;
  color: black !important;
  border-radius: 18px;
  padding: 8px 16px;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

.left {
  font-size: 1.5rem;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 90px 0;
}

.firstSection > div {
  /*.firstSection > div styles will only apply to first div */
  width: 30%;
}

.rightSection {
  font-size: 2.4rem;
}

.cta {
  margin-top: 30px;
}

.cta button {
  background-color: rgb(248, 175, 38);
  border: none;
  color: black;
  font-size: 1rem;
  padding: 12px 20px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta button:hover {
  background-color: rgb(255, 198, 71);
}

.leftSection img {
  width: 80%;
}

.orange {
  color: rgb(248, 175, 38);
}
